* {
    margin: 0;
    padding: 0;
}


/*----------Navigation-------*/

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-brand img {
    height: 40px;
    padding-left: 30px;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    float: right;
    text-align: left;
}

#nav-bar ul li a:hover {
    color: aqua !important;
    border-bottom: bold;
    border-color: aqua;
}

.navbar {
    background: #303A44;
}

.navbar-toggler {
    border: none!important;
}

.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}

img#monox-logo {
    height: 60px;
}

#monox-logo:hover{
    color: aqua !important;
}

h1#monoxtitle {
    font-size: 2.3em;
    padding: 0;
    margin: 0;
    padding-right: 20px;
    color: #555;
    font-family: 'Suranna', serif;
}

#monoxtitle:hover {
    color: aqua !important;
}


nav#navbarcontainer1 {
    padding: 0;
    margin: 0;
}

/*---------------About--------*/
#digitalservices {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
    background-color: #577675;
}

#digitalservices h2 {
    text-align: center;
}

.about-content {
    padding-top: 20px;
    color: black;
}

.skills-bar p {
    margin-bottom: 6px;
    font-weight: 600;
}

/*------------------Services------------*/

#services-marketing {
    margin-top: 10%;
}

/*#service-box {
    padding: 0;
}*/

/*#services-row {
    margin: 0;
}*/

.service-box {
    text-align: center;
    padding: 35px 15px
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;
}

.service-box:hover {
    background: #577675;
}

.service-box:before {
    content: "";
    width: 40px;
    height: 40px;
    border-width: 20px;
    border-style: solid;
    border-color: white white rgba(1,1,1,0.2) rgba(0,0,0,0.2);
    position: absolute;
    top: -40px;
    right: -40px;
    transition: all 0.3s ease 0s;
}

.service-box:hover:before {
    top:0;
    right: 0;
}

.service-box i {
    display: block;
    font-size: 65px;
    color: #577675;
    margin-bottom: 14px;
    transition: all 0.3s ease 0s;
}

.service-box .title {
    font-size: 18px;
    font-weight: 900;
    color: #545454;
    line-height: 25px;
    text-transform: capitalize;
    margin:0 0 16px 0;
    transition: all 0.3s ease 0s;
}

.service-box .description {
    font-size: 15px;
    color: #545454;
    line-height: 25px;
    margin: 0;
    transition: all 0.3s ease 0s;
}

.service-box:hover i,
.service-box:hover .title,
.service-box:hover .description {
    color: white;
}

.row-movedown {
    margin-top: 10%;
}

#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/services.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 60vh;
}
#services h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#services h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services
{
    margin-top: 40px;
}

#services p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}
.services .col-md-3:hover{
    background: #007bff;
    cursor: pointer;
    transition: 0.7s;
}

#services-button {
    margin-top: 15px;
}

/*Mission-Vision*/

#mission {
    height: 50vh;
    background-color: #577675;
}

#mission-row {
    margin-top: 10%;
}

#vision-column {
    border-left: black solid;
    margin-top: 10%;
    padding-left: 10%;
}

#mission h2 {
    color: #555;
}

 /*Products*/

 #products {
    background-color: #577675;
    margin-top: 5%;
 }

 #products h2 {
    text-align: center;
 }

 .logo-output {
    padding-right: 15%;
    padding-bottom: 10%;
 }

 .first-row {
    padding-top: 10%;
 }

/*----------Testimonials---------*/
#testimonials
{
    padding-top: 50px;
    padding-bottom: 50px;
}
#testimonials .row
{
    margin-top: 30px;
}
.col-md-4
{
    margin: 40px auto;
}
.profile
{
    padding: 70px 10px 10px;
    background-color: #efefef;
}
.user
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
.profile img
{
    top: -60px;
    position:absolute;
    left: calc(50% - 60px);
    border: 10px solid #fff;
}
.profile h3
{
    font-size: 20px;
    margin-top: 15px;
    color: #007bff;
}
#testimonials span
{
    font-size: 12px;
    color: #333;
}

.profile:hover
{
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
    cursor: pointer;
    transition: 0.5s;
}


/*------------Get in Touch--------*/
#contact
{
    background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #777;
}
.contact-form
{
    padding: 15px;
}
.form-control
{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder
{
    color: #999 !important;
}
.follow
{
  background: #fff;
    padding: 10px;
    margin: 15px;
}
.contact-info .fa
{
    margin: 10px;
    color: #007bff;
    font-weight: bold;
}
/*--------Footer-------*/
#footer
{
   background: #333;
    color: #fff;
    padding: 12px;
}
.fa-heart-o
{
    margin: 3px;
    color: red;
}








